[safe]
	directory = /home/.Pandemonium_Core
[http]
	postBuffer = 1572864000
[user]
	name = 0xSyStEm75928
	email = your_real_email@example.com
	signingkey = /root/.ssh/id_ed25519.pub
[ssh]
	postBuffer = 1572864000
